body{
    display: flex;
    flex-flow: column nowrap;
}
a{
    text-decoration: none;
    color: lightgrey;
    font-size: 18px;
}
ul{
    list-style-type: none;
    padding: 0px 0px;
}
li{
    display: inline;
}
h1{
    margin: 0px;
}

/* Header css */
.header{
    background-color: #1F2937;
    padding: 0px 312px;
    display: flex;
    justify-content: space-between;
}
.left-link{
    font-size: 24px;
    color: #F9FAF8;
    align-self: center;
}

/* Content 1 css */
.content-one{
    background-color: #1F2937;
    display: flex;
    padding-top: 40px;
    padding-left: 150px;
    padding-right: 150px;
    align-items: flex-start;
    min-height: 300px;
    justify-content: center; 
}
.content-one-header{
    font-size: 20px;
    font-weight: extra-bold;
    color: #F9FAF8;
}
.content-one-text{
    font-size: 18px;
    color: #F9FAF8;
}
.content-one-button > button{
    background-color: #3882F6;
    color: #F9FAF8;
    border: #3882F6;
    padding: 5px 24px;
    border-radius: 8px;
}
.content-one-card{
    display: flex;
    flex-flow: column wrap;
    max-width: 400px; 
    min-height: 200px;
    /* flex: 1; */
}
.content-one-image{
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
}
/* Content 2 css */
.content-two-media{
    display: flex;
}
.content-two-header{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    display: flex;
    justify-content: center;
}
.content-two-media-image > img{
    border: 3px solid #3882F6;
    border-radius: 5px;
}
.content-two-media-card{
    display: flex;
    flex-flow: column wrap;
}

/* Content 3 css */

.content-three{
    background-color: #E5E7EB;
}
.content-three-quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

/* Content 4 css */

/* Footer css */
.footer{
    background-color: #1F2937;
    color: #E5E7EB;
}